<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scraper Login</title>
</head>
<body>
    <h1>Enter Your LMS2 Username and Password</h1>
    <h2>Dont make any error</h2>
    <h2>but you can change in token.json file</h2>
    <form action="/submit" method="POST">
        <label>Username:</label>
        <input type="text" name="username" required /><br><br>
        <label>Password:</label>
        <input type="password" name="password" required /><br><br>
        <button type="submit">Submit & Login with Google</button>
    </form>
</body>
</html>
